@import "tailwindcss";
@source "../themes/biedronka/templates/**/*.tpl";
@source "../themes/biedronka/assets/js/**/*.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Source css file 
*/


.card-soft {
	@apply p-2 border-[rgba(0,0,0,0.1)] border-1;
}
